@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    padding: 120px 0;
	margin-left:15%;
	margin-right:15%;
	background-color: rgb(20, 20, 20);
	font-size:110%;
	/*font-family: 'Noto Sans CJK TC';*/
	font-family: 'Noto Sans TC', sans-serif;
}

.updatedata {
    background-color:#163913;
    border:2px;
    padding:3px;
}

.uddetail {
    color:#40BFBF;
    font-size:70%;
    margin-left:5%;
    margin-right:5%;
}

.udinfo {
    color:#7693EC;
    font-size:70%;
    margin-left:5%;
    margin-right:5%;
}

.important {
    color:#CC00CC;
    font-size:120%;
    font-weight: bolder;
}
