@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
	background-color:#eeeeee;
	font-size:110%;
	/*font-family: 'Noto Sans CJK TC';*/
	font-family: 'Noto Sans TC', sans-serif;
}

.updatedata {
    background-color:#163913;
    border:2px;
    padding:3px;
}

.uddetail {
    color:#40BFBF;
    font-size:70%;
    margin-left:5%;
    margin-right:5%;
}

.udinfo {
    color:#7693EC;
    font-size:70%;
    margin-left:5%;
    margin-right:5%;
}

.important {
    color:#CC00CC;
    font-size:120%;
    font-weight: bolder;
}

.bTop{
    background:#222831;
    border-bottom: 4px solid #336699;
    color:#FFFFFF; 
    text-align:center;
    width:100%;
    height:40px;
    position:fixed; /*固定位置定位*/
    top:0; /*距離上方 0 像素*/
    left:0;
    z-index:3; /*重疊時會在其他元素之上*/
}

.main_page{
    position:fixed; /*固定位置定位*/
    top:60px;
    height:100%;
    margin-left:15%;
	margin-right:15%;
}

.top_left{
    font-size:120%;
    text-align:center;
    position:fixed;
    left:2%;
    top:8px;
    z-index:1; /*重疊時會在其他元素之上*/
}

.top_right{
    font-size:80%;
    text-align:center;
    color:#f38181; 
    position:fixed;
    right:2%;
    top:16px;
    z-index:2; /*重疊時會在其他元素之上*/
}